<!DOCTYPE html>
<html>
<head>
<base target="_top" >
<meta charset="UTF-8">
<title>{0}</title>
<link type="text/css" rel="stylesheet" href="/local/resources/index.css">
<script type="text/javascript" src="/local/scorm.js" ></script>
<script type="text/javascript" src="/local/resources/api.js" ></script>
</head>
<body>
<iframe src="{1}">
</iframe>
</body>
</html>